{% extends 'adminlte/base.html' %}

{% block title %}States{% endblock %}
{% block content %}
<form method="POST" action="{% url 'states_app:municipality_update'%}">
        {% csrf_token %} 
    <div class="form-group">
      <input type="hidden" name="municipality_id" value="{{municipality.id}}">
      <label for="code">Código:</label>
      <input type="number" value="{{municipality.code}}" class="form-control" name="code" id="code">
    </div>
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" name="name" value="{{municipality.name}}" class="form-control" id="name">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}